.ion-card{
    display: flex;
    flex-direction: column;
    width: 100 !important;
    box-shadow: 5;
    background-color: #fdfeff;
  }

  .ion-col-saldo{
    margin: auto;
    text-align: justify;
    font-size: 20;
    color: white;
  }

  .ion-card-wallet{
    display: flex;
    flex-direction: column;
    width: 100;
    box-shadow: 5;
    background-color: #ffffff;
    max-width: 25vw;
  
  }

  .ion-card-layanan{
    display: flex;
    flex-direction: column;
    width: 100;
    box-shadow: 5;
    background-color: #ffffff;
  }

.ion-header {
    height: 120px;
}
.ion-img {
    display: flex;
   
}

.icon-land{
    width: 8vw; 
    height: 8vh;
}
.icon-sea{
    width: 9vw; 
    height: 9vh;
}
.icon-air{
    width: 8vw; 
    height: 8vh;
}

.icon-topup{
    width: 10vw; 
    height: 10vh;
}
.icon1{
    margin: 0.85rem;
    padding: 2rem 0.85rem;
   
}

.icon-share{
    width: 12vw; 
    height: 12vh;
}
.icon-saldo{
    height: 6vh;
    width: 6vw;
    margin: auto;
    
}

.button-menu{
    max-width: 22.5vw;
    max-height: 6.5vh;
    padding: 0 0.25rem;
    margin: 0.1rem;
    display: flex; flex-direction: row;
    /* border: solid 1.2px #D9D9D9; */
    border-radius: 12px;
}

.text1{
    justify-content: center;
    align-items: center;
    /* margin: 0 0.75rem; */
    padding: 1rem 0.25rem;
    border-radius: 15px;
    font-family: Helvetica;
 
}

.box1{
    /* background: rgb(58,180,171);
    background: linear-gradient(54deg, rgba(58,180,171,1) 0%, rgba(253,250,29,1) 50%, rgba(252,101,69,1) 100%); */
    border-radius: 15px;
    background: transparent;
    box-shadow: 5px 4px grey;
    /* background: rgb(35,23,230);
    background: linear-gradient(62deg, rgba(35,23,230,1) 0%, rgba(43,189,205,1) 35%, rgba(255,255,255,1) 100%); */
}


.button-menu-saldo{
    max-width: 19.5vw;
    max-height: 9.5vh;
    padding: 0 0.5rem;
    margin: 0.25rem;
    display: flex; flex-direction: row;
    border: solid 1.2px #D9D9D9;
    border-radius: 2px;
}

.label-menu-button{
    margin: 0.8rem 0.4rem; font-size: 0.8rem; color:black;
    padding: 0.25rem;
}
.label-topup{
    
    font-size: 35;
    font-family:  Helvetica;
    font-weight: bold;
    color: grey;
}

.label-history{
    text-align: justify;
    font-size: 35;
    font-family:  Helvetica;
    font-weight: bold;
    color: white;
}
.label-share{
    
    font-size: 35;
    font-family:  Helvetica;
    font-weight: bold;
    color: white;
}
.icon-search{
   
    color: white;
}

.icon-loc{
    height: 6vh;
    width: 6vw;
    
}
.ion-box{
    height: 6vh;
    width: 6vw;
    
}

.cek-ongkir{
    display: flex;
    flex-direction: column;
    width: 100;
    box-shadow: 5;
    background-color: grey;
}

.ion-content{
    z-index: 50; position: relative;
}
.button-notif{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.75rem;
}

.label{
    max-width: 28.5vw;
    max-height: 8.5vh;
    padding: 0 0.25rem;
    margin: 1rem;
    display: flex; flex-direction: row;
}

.ion-isi{
    display: flex;
    font-family: Helvetica;
    font-size: medium;
    color: black;
    margin: 0.55rem;
    padding: 0.25 0.25rem;
    text-align: left;

}



.label-menu-saldo{
    margin: 0.8rem 0.4rem; font-size: 0.9rem; color:black;
}

.icon-history{
    height: 6vh;
    width: 4vw;
}

.ion-modal#example-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  .ion-modal#example-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
.ion-modal#example-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

  .text-h2{
    color: red;
    
  }

  .ion-saldo{
    border-radius: 15px #3888FF;
  }
