.login-button{
    height:50px; 
    width:100px; 
    margin: 0 -50px; 
    position:absolute;
    padding: 0 0.35rem;
    font-family: Helvetica;
    font-weight: bold;
    font-size: large;
    font-style: normal;
    z-index: 999; transform: translateY(-300%);
    color: white;
}
.background-login{
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250vw;
}

.ion-padding{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/public/assets/images/cargo.jpg') no-repeat 100% 100%;
    color: grey;
}

.google{
    width: 70vw;
    margin: 0 35px; 
    border-radius: 15px;
    background: transparent;
    z-index: 999; transform: translateY(-300%);
    border: solid 1.5px #D9D9D9;
}
.img{
    height: 4vh;
    width: 7vw;
}

.card{
    color: #1F86FF;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.text-center{
    text-align: center;
    margin: 0 0.25rem;
    padding: 0 0.75rem;
}

.row{
    text-align: center;
    justify-content: center;
    border-bottom: none;
    z-index: 999; transform: translateY(-160%);
    text-decoration: none;
}

.row a{
    color: yellow;
    font-size: larger;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.icon{
    height: 12vh;
    width: 12vw;
}

.psw{
    text-align: right;
}

.card-login{
    z-index: 999; transform: translateY(-30%);  color:white;
    height: 65vh;
    border-color: black;
    border-radius: 15px;
}
.it{
    border-color: black;
    border-radius: 15px;
}

.icon-log{
    z-index: 999; transform: translateY(-10%);
}

.row{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    text-decoration: none;
}

.lb{
    font-size: 25px;
    font-family: Helvetica;
    font-weight: bold;
}

.card1{
    border-color: black;
    border-radius: 15px;
    z-index: 999; transform: translateY(-200%);
}

.lupa{
    z-index: 999; transform: translateY(-280%);
    text-decoration: none;
    color: white;
}

.atau{
    z-index: 999; transform: translateY(-200%);
    text-decoration: none;
    color: grey;
    justify-content: center;
    align-items: center;
    margin: 0 150px; 
    font-size: larger;
}