.col-2{
    width: 95vw; display: flex; flex-direction: column;
  }

.col-1{
    width: 50vw;
    text-align: center;
  }

  .img-profile{
    z-index: -999;
    height: 50vh;
  }
  .element-profile{
    position: relative;
    height: 50vh;
    width: 50vw;
  }
  .card-akun{
    z-index: -999;
  }