.col-small{
    font-size: 0.95rem;
    width: 80vw; display: flex; flex-direction: row;
  }
.ion-text-justify{
    text-align: justify;
    white-space: normal !important;
}

.justify{
    text-align: justify;
}